@font-face {
    font-display: swap; 
    font-family: 'Mooli';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Mooli-Regular.ttf') format('ttf'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;    

  scroll-behavior: smooth;
}
  
html {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;

  font-size: 62.5%;
  font-family: 'Mooli', sans-serif;  

  background-color: #1f2120;
}
  
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  height: 100%;  
  margin: 0 auto;
  
  color: rgb(7, 255, 238);  
}

.header {
  display: flex;
  align-items: center;   
  width: 100%;
  max-width: 1920px;
  height: 7rem;  
  margin: 0 auto;
  margin-bottom: 2rem;    
  padding: 0 3rem;

  font-size: 2em;           
  color: rgb(7, 255, 238);
  background-color: black;
  box-shadow: 0 5px 10px rgb(7, 255, 238);
}

.title h1 {
  color: rgb(7, 255, 238);
  font-size: 2.5em;
}

main{
    font-size: 3rem;
}

.content__wrapper {
    display: inline-flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1920px;
    height: auto;  
    margin: 0 auto; 
    margin-bottom: 2rem;   
    padding: 0 3rem;

    gap: 1rem;    
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 60rem;
  height: 45rem; 
  
  perspective: 1000px;
}

.grid__item {  
    position: relative;

    width: calc(25% - 1rem);
    height: calc(33.333% - 1rem);
    margin: 5px;

    border: 1px solid rgb(7, 255, 238);
    border-radius: 5px;
    cursor: pointer;    

    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.grid__item:active {
    transform: scale(0.95);
    transition: transform 0.2s;
}

.grid__item.turn {
    transform: rotateY(180deg);
}

.grid__item.match {
    visibility: hidden;
}

.front_face,
.back_face {
    position: absolute;
    
    width: 100%;
    height: 100%;   
    padding: 15px;

    background-color: #1f2120;
    border-radius: 5px;

    backface-visibility: hidden;
}

.front_face {
    transform: rotateY(180deg);
}



.timer__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.time__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10rem;     
}

.timer {
    display: flex;
    justify-content: center;
    width: 8.5rem;
    height: 3.5rem;

    border: 1px solid rgb(214, 7, 255);
    border-radius: 5px;
}

.moves__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 10rem;    
}

.number_of_moves {
    display: flex;
    justify-content: center;
    width: 6rem;
    height: 3.5rem;
    border: 1px solid rgb(214, 7, 255);
    border-radius: 5px;
}

.score__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30rem;
    padding: 2rem;

    border: 1px solid rgb(214, 7, 255);
    border-radius: 5px;
}

.score {
    align-self: center;
}

.form__wrapper {
    display: flex;
    align-items: center;
    margin-left: 4rem;    
}

.input {
    width: 100%;
    max-width: 25rem;
    height: 3.5rem;
    margin-right: 1rem;
    padding-left: 1rem;
    border: 3px solid rgb(7, 255, 238);
    border-radius: 5px;
}

.submit__btn  {
    display: inline-block;
    width: 4.5rem;
    height: 4rem;
  
    font-size: 1.5rem;
    font-weight: 500;
  
    border-radius: 50%;
    
    color: rgb(12, 13, 13);
    background-color: rgb(7, 255, 238);
  
    cursor: pointer;
    transition: 0.5s;
}
  
.submit__btn:hover {
    transform: scale(1.2);
    color: rgb(12, 13, 13);
}



.footer_wrapper { 
    display: flex;   
    width: 100%;
    max-width: 1920px;
    height: 5rem;  
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0 3rem;
    
    background-color: black;
    box-shadow: 0 5px 10px rgb(7, 255, 238);
}
  
.footer {
    flex: 0 0 auto;
    width: 100%;
    max-width: 1920px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  
.copy_text {
    color: aliceblue;
    border-radius: 10%;
    font-size: 1rem;
}
  
.logo img {
    width: 7rem;
    height: auto;  
      
    background-color: white;
    
    transition: all 0.5s ease-in-out;
}

.logo img:hover {
    transform: scale(1.1);    
    background-color: rgb(7, 255, 238);
}
  
.github_logo img {
    display: flex;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: aliceblue;
    border-radius: 50%;
      
    transition: all 0.5s ease-in-out;
}

.github_logo img:hover {
    transform: scale(1.1);
    background-color: rgb(7, 255, 238);
}