/* forum-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/forum-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

html {
    box-sizing: border-box;
    font-size: 14px;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

body {
    max-width: 1440px;
    margin: 0 auto;

    line-height: 1.2;
    font-family: 'Forum';
    font-style: normal;
    color:#0C0C0E;
    background: lightgray;  /* это для серого фона*/

    overflow-x: hidden;
  }

ul {
  padding-left: 0;    
}

h1 {
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;    
  }

h3 {
    color: #fff;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
    width: 520px;
    flex-shrink: 0;
  }

h2 {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

h4 {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 40px;
  }

h5 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

h6 {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

.wrapper {   /* это для контраста с серым фоном*/
    max-width: 100%;
    margin: 0 auto;

    background: #fff;
  }

/*Header styles start*/

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;    
  width: 100%;
  height: 90px;  
  margin-bottom: 0;
  padding: 20px 20px 20px 20px;   

  background: #0C0C0E; 
}

.header__title {
  height: 50px;
  margin-left: 0;
  white-space: nowrap;
}

.header__navigation {
  display: flex;
  width: 585px;
  height: 50px;  
  align-items: center;
  margin-left: 450px;
  margin-right: 40px;
  
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 250% */
  color: #FFF;    
}

.header__list {
  display: flex;
  justify-content: space-between; 
  width: 585px;
  gap: 30px;

  list-style: none;    
  cursor: pointer;
  transition: .5s;  
}

.header__item {    
  display: inline;    
}

.header__item a:hover { 
  color: #BB945F;
  /*text-decoration: underline;*/
}

.header__item a {
  text-decoration: none;
  color: white;
  transition: color 0.5s;
}

.header__ico-wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
}

.header__ico {
  position: absolute;
  width: 28px;
  height: 28px;

  cursor: pointer;  
}

.drop_menu_no_auth {
  position: absolute;
  top: 28px;
  left: -60px;

  display: block;
  text-align: center;
  width: 80px;
  height: 115px;
  padding-top: 5px;
  padding-bottom: 20px;
   
  background-color: #fff;
  z-index: 1; 
  visibility: hidden; 
}

.drop_menu_no_auth_active {
  visibility: visible;
}

.drop_menu_no_auth_active .hystmodal__window {
  transform: scale(1);
  opacity: 1;
}

.ico__after_auth {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;

  background-color: #fff;
  border-radius: 50px;

  cursor: pointer;

  visibility: hidden;
}

.drop_menu_with_auth {
  position: absolute;
  top: 28px;
  left: -60px;

  display: block;
  text-align: center;
  width: 80px;
  height: 115px;
  padding-top: 5px;
  padding-bottom: 20px;
   
  background-color: #fff;
  z-index: 1;
  visibility: hidden;
}

.drop_menu_with_auth_active {
  visibility: visible;
}

.drop_menu_with_auth_active .hystmodal__window {
  transform: scale(1);
  opacity: 1;
}

.letters__jd { 
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */ 
  color: #BB945F;   
}

.profile {    
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 133.333% */  
  color: #000;
}

.drop_menu__line {
  width: 40px;
  height: 1px;
  margin: 5px 20px 15px;

  background: #BB945F;
}

.log_in {
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  color: #000;

  cursor: pointer;  
}

.login__btn:hover {
  background-color: #BB945F;
}

.modal__register-wrapper {
  left: 0; right: 0; top: 0; bottom: 0;
  
  visibility: hidden;
}

.modal__register-wrapper_active {
  visibility: visible;
}

.modal__register-overlay {
  position: absolute; /* Абсолютное позиционирование */
  left: 0; right: 0; top: 0; bottom: 0; /* Занимает всё пространство */
  z-index: 1;
  
  background: rgba(142, 142, 142, 0.9);
}

.modal_register {
  position: absolute;
  left: 0; right: 0; /* Нужно для выравнивания */
  z-index: 1;

  width: 250px;
  height: 382px;  
  justify-content: center;
  margin: 80px auto 0; /* Выравниваем по центру */

  background-color: #fff; 
}

.register {
  margin-top: 10px;
  
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  color: #000;

  cursor: pointer;
}

.register__btn:hover {
  background-color: #BB945F;
}

.close_register_btn {
  position: relative;
  top: 15px;
  left: 220px;

  width: 15px;
  height: 15px; 
  
  cursor: pointer;
}

.my_profile {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */

  cursor: pointer;
}

.log_out {
  margin-top: 10px;

  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */

  cursor: pointer;
}

.modal__log_in-wrapper {
  left: 0; right: 0; top: 0; bottom: 0;
  
  visibility: hidden;
}

.modal__log_in-wrapper_active {
  visibility: visible;
}

.modal__log_in-overlay {
  position: absolute; /* Абсолютное позиционирование */
  left: 0; right: 0; top: 0; bottom: 0; /* Занимает всё пространство */
  z-index: 1;
  
  background: rgba(142, 142, 142, 0.9); 
}

.modal__log_in {
  position: absolute;
  left: 0; right: 0; /* Нужно для выравнивания */
  z-index: 1;

  width: 250px;
  height: 262px;  
  justify-content: center; 
  margin: 80px auto 0; /* Выравниваем по центру */

  background-color: #fff;   
}

.modal__close_btn {
  position: relative;
  top: 15px;
  left: 220px;

  width: 15px;
  height: 15px; 
  
  cursor: pointer;
}

.modal__close-line {
  position: absolute;
  top: 50%;

  display: block;
  width: 100%;
  height: 2px;

  background-color: #0C0C0E;  
}

.modal__close-line:first-child {
  transform: translateY(-50%) rotate(45deg);
}

.modal__close-line:last-child {
  transform: translateY(-50%) rotate(-45deg);
}

.modal__title {
  margin-top: 5px;
  margin-bottom: 20px;

  text-align: center;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #000;
}

.modal__content_wrapper {
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
  padding: 0;  
}

.modal_content {  
  margin-bottom: 10px;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: 0.3px;
  color: #000;
}

.input_box {
  margin-top: 10px;
  
  width: 200px;
  height: 20px;
  flex-shrink: 0;

  border: 1px solid #BB945F;
}

.modal__submit {
  width: 75px;
  height: 30px;
  flex-shrink: 0;
  margin-top: 10px;
  margin-bottom: 10px;  
  text-align: center;

  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  color: #0C0C0E;

  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #0C0C0E;

  cursor: pointer;
}

.modal__last_line {
  display: flex; 
}

.item_1 {
  margin-right: 10px;

  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
}

.item_2 {
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-decoration-line: underline;
  color: #0C0C0E;

  cursor: pointer;
}

.modal__profile {
  display: flex;
  width: 600px;
  height: 400px;  
}

.black_part {
  width: 170px;
  height: 400px;
  padding-top: 139px;  

  background-color: #0C0C0E;
}

.box_1 {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 15px;
  align-items: center;
  padding: 30px 27px;

  background-color: #fff;
}

.initials {
  text-align: center;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  text-transform: capitalize;
  color: #BB945F;
}

.box_2 {
  width: 120px;
  height: 30px;
  margin: 0 auto;
  padding: 5px 15px;

  background-color: #fff;
}

.jd {
  text-align: center;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
  color: #000;  
}

.white_part {
  padding-left: 20px;
}

.profile__title {
  margin-top: 20px;
  margin-bottom: 40px;

  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 50% */
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #000;
}

.profile__close_btn {
  position: relative;
  top: 21px;
  left: 367px;

  width: 20px;
  height: 20px; 
  
  cursor: pointer;
}

.visits_info {
  display: grid;
  grid-template-columns: 53px 84px 60px;
  grid-template-rows: 20px 21px 20px;
  grid-template-areas: 
    "visites bonuses books"
    "item1 item2 item3"
    "num1 num2 num3";
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  justify-items: center;
  align-items: center;
  width: 237px;
  margin-bottom: 20px;
  
  background-color: #fff;
}

.grid_item {  
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 0.4px;
  text-transform: capitalize;
  
  color: #000;  
}

.grid_num {
  text-align: center;  
  
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 200% */
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #000;
}

.rented__books {  
  text-align: start;
  margin-top: 0;
  margin-bottom: 30px;  

  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 80% */
  color: #0C0C0E;    
}

.li__books {
  margin-bottom: 10px;  
  margin-left: 30px;
    
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #000; 
}

.card__number_wrapper {
  display: flex;
}

.card__number {
  text-align: center;
  margin-top: 25px;
  margin-right: 15px;
  
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  color: #0C0C0E;
}

.profile_number {  
  text-align: center;
  margin-top: 25px;
  margin-right: 15px;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  color: #BB945F;
}

.nlo {
  margin-top: 30px;
}

/*Header styles end*/


/*Section Welcome styles start*/

.welcome {
  position: relative;

  width: 100%;
  height: 600px;

  background: url(../img/background.png) no-repeat center;
  background-size: cover;  
}

.overlay {
  position: absolute;

  display: flex;
  width: 100%;
  height: 300px;
  flex-shrink: 0;

  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
}

.welcome__text {
  position: absolute;
  left: 100; right: 100; top: 100; bottom: 100;

  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 220px;
  margin-top: 220px;
  padding: 35px 40px; 
   
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  
  background: #0C0C0E;
}

/*Section Welcome styles end*/


.section-title {  
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; 

  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #0C0C0E;
}

.line__wrapper {
  display: flex;
  width: 99.8%;
  justify-content: center;
}

.line {
  width: 50px;
  height: 1px;
  flex-shrink: 0;
  background: #0C0C0E;
  margin-bottom: 40px;  
}


/*Section About styles start*/

.about__wrapper {  
  padding: 0 20px 20px;  
}

.about__text {  
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  color: #000;  
}

.about__carret-left {
  display: none;
}

.about__carret-right {
  display: none;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between; 
  overflow: hidden;
  width: 9999px;
  height: 560px;
  margin-bottom: 40px;
  
  transition: margin-left 250ms;
}

.gallery ul {  
  list-style: none;
  transition: margin-left 250ms;  
}

.gallery li {
  display: inline-block;  
}

.gallery img {
  width: 450px;
  height: 560px;  
}

.img-1,
.img-2,
.img-3,
.img-4 {
  /*display: block;  /* делаем этот элемент блочным, чтобы убрать лишнее пространство вокруг картинок */
  margin-right: 24px;
}

.pagination__wrapper {
  display: flex;
  justify-content: center;  
  width: 1400px;
}

.pagination {   
  display: flex;  
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 26px; 
  margin-bottom: 10px;
}

.area__circle__buttons {  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  
  cursor: pointer;
}

.active__button {  
  width: 16px;
  height: 16px;
  padding: 0;

  background: #BB945F;
  border-radius: 50%;   

  cursor: pointer;
}

.inactive__button {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: #0C0C0E;
  border-radius: 50%;
  padding: 0;  
}

/*Section About styles end*/

/*Section Favorites styles start*/

.favorites__wrapper {
  padding-left: 20px;
  padding-right: 20px;  
}

.favorites__subtitle {  
  height: 24px;
  display: flex;  
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000; 
}

.buttons__container {  
  display: flex;  
  align-items: center;
  gap: 88px;
  padding: 0;
  margin-bottom: 40px;
  margin-top: 40px;
  max-width: 705px;
  height: 24px;
  flex-shrink: 0;  
}

.season-text:hover {
  font-weight: 700;
}

.custom-radio {
  cursor: pointer;
}

.season-text {  
  align-items: center;
  cursor: pointer;  
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.real-radio-btn {
  /* Скрываем реальную радио кнопку*/
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}

/* Рисуем внешний круг радиокнопки*/
.custom-radio-btn {
  position: relative; /* Родительский элемент*/
  display: inline-block; /* Для применения рамок, размеров*/
  width: 17px;
  height: 17px;
  background: #fff;
  border: 3px solid #0C0C0E; /* Толщина, стиль, цвет рамки*/
  border-radius: 50%; /* Получение круга*/  
  vertical-align: text-bottom; /* Выравнивание кнопки по центру*/
  margin-right: 20px; /* Отступ между кнопкой и меткой*/
  cursor: pointer;
}

/* Рисуем внутренний круг */
.custom-radio-btn::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #0C0C0E;
  border-radius: 50%; 

/* Выравниваем по центру относительно внешнего круга */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.real-radio-btn:checked + .custom-radio-btn::before {
  transform: translate(-50%, -50%) scale(1);
} 

.real-radio-btn:checked ~ span {
  font-weight: 700;
}

.favorites__items {
  width: 1400px;
  height: 1190px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
  
.favorites__item-1 {
  border: 1px solid #000;
  background: #FFF;
  width: 550px;
  height: 555px;
  flex-shrink: 0;  
  padding-left: 15px;  
  padding-bottom: 20px;
  margin-right: 260px;
  position: relative;
}

.favorites__stuff-picks {
  height: 40px;
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  align-items: center;  
  margin-bottom: 0;
}

.favorites__line-1 {
  width: 60px;
  height: 1px;
  background: #BB945F;  
}

.favorites__text-title {
  max-width: 355px;
  height: 80px;
  margin-top: 20px;
  height: 80px;   
}

.name-book {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: uppercase;  
}

.author-book {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-bottom: 20px;  
}

.favorites__content {
  width: 355px;
  max-height: 320px;  
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.favorites__book-1 {
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: -1px;
  right: -40px;
  }

.favorites__item-2 {
  border: 1px solid #000;
  background: #FFF;
  width: 550px;
  height: 555px;
  flex-shrink: 0;
  padding-left: 15px;
  padding-bottom: 20px;
  position: relative;
  }

.favorites__book-2 {
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: -1px;
  right: -40px;
}

.favorites__item-3 {
  border: 1px solid #000;
  background: #FFF;
  width: 550px;
  height: 555px;    
  flex-shrink: 0;
  padding-left: 15px;
  padding-bottom: 20px;
  margin-right: 260px;
  margin-top: 0px;
  position: relative;
    
}

.favorites__book-3 {
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: -1px;
  right: -40px;
  }

.favorites__item-4 {
  border: 1px solid #000;
  background: #FFF;
  width: 550px;
  height: 555px;
  flex-shrink: 0;
  padding-left: 15px;
  padding-bottom: 20px;
  margin-top: 0;
  position: relative;    
}

.favorites__book-4 {
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: -1px;
  right: -40px;
}



.favorites__item-5 {
  border: 1px solid #000;
  background: #FFF;
  width: 550px;
  height: 555px;
  flex-shrink: 0;
  padding-left: 15px;
  padding-bottom: 20px;
  margin-top: 0;
  position: relative;    
}

.favorites__book-5 {
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: -1px;
  right: -40px;
}

.favorites__item-6 {
  border: 1px solid #000;
  background: #FFF;
  width: 550px;
  height: 555px;
  flex-shrink: 0;
  padding-left: 15px;
  padding-bottom: 20px;
  margin-top: 0;
  position: relative;    
}

.favorites__book-6 {
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: -1px;
  right: -40px;
}

.favorites__item-7 {
  border: 1px solid #000;
  background: #FFF;
  width: 550px;
  height: 555px;
  flex-shrink: 0;
  padding-left: 15px;
  padding-bottom: 20px;
  margin-top: 0;
  position: relative;    
}

.favorites__book-7 {
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: -1px;
  right: -40px;
}

.favorites__item-8 {
  border: 1px solid #000;
  background: #FFF;
  width: 550px;
  height: 555px;
  flex-shrink: 0;
  padding-left: 15px;
  padding-bottom: 20px;
  margin-top: 0;
  position: relative;    
}

.favorites__book-8 {
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: -1px;
  right: -40px;
}

.favorites__item-9 {
  border: 1px solid #000;
  background: #FFF;
  width: 550px;
  height: 555px;
  flex-shrink: 0;
  padding-left: 15px;
  padding-bottom: 20px;
  margin-top: 0;
  position: relative;    
}

.favorites__book-9 {
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: -1px;
  right: -40px;
}

.favorites__item-10 {
  border: 1px solid #000;
  background: #FFF;
  width: 550px;
  height: 555px;
  flex-shrink: 0;
  padding-left: 15px;
  padding-bottom: 20px;
  margin-top: 0;
  position: relative;    
}

.favorites__book-10 {
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: -1px;
  right: -40px;
}

.favorites__item-11 {
  border: 1px solid #000;
  background: #FFF;
  width: 550px;
  height: 555px;
  flex-shrink: 0;
  padding-left: 15px;
  padding-bottom: 20px;
  margin-top: 0;
  position: relative;    
}

.favorites__book-11 {
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: -1px;
  right: -40px;
}

.favorites__item-12 {
  border: 1px solid #000;
  background: #FFF;
  width: 550px;
  height: 555px;
  flex-shrink: 0;
  padding-left: 15px;
  padding-bottom: 20px;
  margin-top: 0;
  position: relative;    
}

.favorites__book-12 {
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: -1px;
  right: -40px;
}

.favorites__item-13 {
  border: 1px solid #000;
  background: #FFF;
  width: 550px;
  height: 555px;
  flex-shrink: 0;
  padding-left: 15px;
  padding-bottom: 20px;
  margin-top: 0;
  position: relative;    
}

.favorites__book-13 {
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: -1px;
  right: -40px;
}

.favorites__item-14 {
  border: 1px solid #000;
  background: #FFF;
  width: 550px;
  height: 555px;
  flex-shrink: 0;
  padding-left: 15px;
  padding-bottom: 20px;
  margin-top: 0;
  position: relative;    
}

.favorites__book-14 {
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: -1px;
  right: -40px;
}

.favorites__item-15 {
  border: 1px solid #000;
  background: #FFF;
  width: 550px;
  height: 555px;
  flex-shrink: 0;
  padding-left: 15px;
  padding-bottom: 20px;
  margin-top: 0;
  position: relative;    
}

.favorites__book-15 {
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: -1px;
  right: -40px;
}

.favorites__item-16 {
  border: 1px solid #000;
  background: #FFF;
  width: 550px;
  height: 555px;
  flex-shrink: 0;
  padding-left: 15px;
  padding-bottom: 20px;
  margin-top: 0;
  position: relative;    
}

.favorites__book-16 {
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: -1px;
  right: -40px;
}

.buy-button:hover {
  background-color: #BB945F;
  border-radius: 2px; 
  border: 1px solid #BB945F; 
  cursor: pointer;    
}

.buy-button-2:hover {
  background-color: #BB945F;
  border-radius: 2px; 
  border: 1px solid #BB945F; 
  cursor: pointer;    
}

.buy-button {
  cursor: pointer;
  transition: 0.5s;
  font-family: 'Inter';
  color: #0C0C0E;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  width: 75px;
  height: 30px;
  flex-shrink: 0;
  background-color: #FFF;
  margin-bottom: 15px;
}

.buy-button-2 {
  cursor: pointer;
  transition: 0.5s;
  font-family: 'Inter';
  color: #0C0C0E;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  width: 75px;
  height: 30px;
  flex-shrink: 0;
  background-color: #FFF;
  margin-top: 40px;
  margin-bottom: 15px;
}

.own-button {
  font-family: 'Inter';
  color: #BB945F;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  border-radius: 2px;
  border: 1px solid #BB945F;
  width: 75px;
  height: 30px;
  flex-shrink: 0;
  background-color: #FFF;
  margin-top: 80px;
  margin-bottom: 15px;
}

/*Section Favorites styles end*/

/*Section Coffee Shop styles start*/

.coffe-shop__wrapper {
  padding: 0 20px 40px;
}

.menu__wrapper-text {
  margin-bottom: 40px;
  
  text-align: center;
}

.menu__i {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu__content {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: lowercase;
}

.menu__y {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.menu__wrapper {  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.coffe-and-tea-menu {
  width: 438px;
  height: 520px;  
  margin-right: 480px;
}

.menu__item {
  display: flex;
  justify-content: space-between;  
}

.name__item {
  width: 215px;
  max-height: 40px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 40px;  
}

.menu__item:last-child {
  margin-bottom: 0;
}

.menu__item-deserts {
  display: flex;
  justify-content: flex-end;
  gap: 60px;
}

.name__item-2 {
  width: 215px;
  max-height: 40px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-end;

}

.menu__line-2 {
  width: 100px;
  height: 1px;
  background: #BB945F;
  align-items: center;
  margin-top: 20px;
}

.price__item {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.deserts {
  width: 482px;
  height: 520px;
}

.deserts__title {
  margin-left: 161px;
}

/*Section Coffee Shop styles end*/


/*Section Contacts styles start*/

.contacts__wrapper { 
  padding: 0 20px 40px; 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contacts-info {
  width: 507px;
  height: 380px;
  padding: 0; 
}

.column__title {
  /*width: 282px;*/
  height: 40px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 40px;
  display: flex;
}

.phone-info {
  width: 507px;
  height: 160px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
}

.contacts__text-1 {
  height: 40px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  margin-bottom: 20px;
}

.contacts__text-2 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  display: flex;
  margin-bottom: 20px;
}

.contacts__text-3 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  display: flex;
  margin-bottom: 20px;
}


.contacts__tel:hover {
  color: #BB945F;
  font-weight: 700;
}

.contacts__tel {
  text-decoration: none;
  color: #0C0C0E;
  transition: .5s;
}

.contacts__senior-stuff {
  margin-top: 40px;
}

.senior__title {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.director:hover {
  color: #BB945F;
}

.director {
  text-decoration: none;
  transition: .5s;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.job-title {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  display: flex;
}
/*Section Contacts styles end*/


/*Section Library Card styles start*/

.library-card__wrapper {
  padding: 0 20px 40px;
}

.layout-2-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.find__card-wrapper {  
  width: 600px;
  margin-right: 336px;
  margin-bottom: 0;
}

.find__title {
  height: 36px;
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-left: 138px;
  margin-bottom: 30px;
  margin-top: 0;
}

.card__body {
  border: 3px solid #BB945F;
  background: #FFF;
  display: flex;
  width: 600px;
  height: 387px;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 20px 94px;
}

.card__bg {
  width: 560px;
  height: 272px;
  flex-shrink: 0;
  background: #BB945F;
  padding: 20px 20px 25px;
 
}

.card__title {
  height: 50px;
  color: #000;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
  margin-top: 0;
  margin-bottom: 20px;  
}

.username {
  border-radius: 10px;
  background: #FFF;
  width: 520px;
  height: 66px;
  flex-shrink: 0;
  padding-top: 8px;
  padding-right: 318px;
  padding-bottom: 8px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.usernumber {
  border-radius: 10px;
  background: #FFF;
  width: 520px;
  height: 66px;
  flex-shrink: 0;
  padding-top: 8px;
  padding-right: 333px;
  padding-bottom: 8px;
  padding-left: 20px;
  margin-bottom: 45px;  /*Это толкает кнопку вниз*/
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
}

.placeholder {  
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
  color: #8E8E8E;

  border: 0;
}

.check-card__button {
  display: flex;
  justify-content: center;
}

.check-card__submit:hover {
  background-color: #BB945F;
  border-radius: 2px; 
  border: 1px solid #BB945F; 
  cursor: pointer;    
}

.check-card__submit {
  cursor: pointer;
  transition: .5s;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  width: 242px;
  height: 44px;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  background: #fff;
}

.get__card-wrapper { 
  width: 460px;
  height: 253px;
  padding: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  
  margin-right: 20px;
  margin-bottom: 35px;
}

.get__title {
  color: #000;
  text-align: center;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 35px;
}

.get__contetnt {
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 0.4px;
  margin-bottom: 35px;
}

.sign__up:hover {
  background-color: #BB945F;
  border-radius: 2px; 
  border: 1px solid #BB945F; 
  cursor: pointer;    
}

.sign__up {
  cursor: pointer;
  transition: 0.5s;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  margin-right: 20px;
  display: inline-flex;
  width: 75px;
  height: 30px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background: #fff;
}

.log__in:hover {
  background-color: #BB945F;
  border-radius: 2px; 
  border: 1px solid #BB945F; 
  cursor: pointer;    
}

.log__in {
  display: inline-flex;
  flex-shrink: 0;
  width: 75px;
  height: 30px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;  
  text-align: center;  
  
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  color: #0C0C0E;  
  
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.modal__buy_card {
  display: block;
  width: 650px;
  height: 540px;
}

.buy__card_title_wrapper {
  display: inline-flex;
  width: 650px;
  height: 60px;
  flex-shrink: 0;
  margin-bottom: 30px;

  background-color: #0C0C0E;
}

.buy_card__title {
  margin-left: 123px;
  margin-right: 82px;
  padding: 20px;
  text-align: center;
  justify-content: center;

  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 50% */
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #fff;
}

.buy_card__close_btn {
  position: relative;
  top: 23px;
  
  width: 20px;
  height: 20px;

  cursor: pointer;
}

.buy_card__close-line {
  position: absolute;
  top: 50%;

  display: block;
  width: 100%;
  height: 2px;

  background-color: #fff;  
}

.buy_card__close-line:first-child {
  transform: translateY(-50%) rotate(45deg);
}

.buy_card__close-line:last-child {
  transform: translateY(-50%) rotate(-45deg);
}

.buy_card_content_wrapper {
  display: flex;  
}

.buy_card_content {
  display: block;
  justify-items: center;
  align-items: center;
  width: 200px;
  height: 412px;
  margin-left: 40px;
  margin-right: 40px;
}

.bank_card_info {  
  text-align: center;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: 0.3px;
  color: #000;
}

.bank_num {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 20px;
  flex-shrink: 0;

  color: #BB945F;

  border: 1px solid #BB945F;
}

.exp_num {
  margin-top: 10px;
  width: 45px;
  height: 20px;
  flex-shrink: 0;

  color: #BB945F;

  border: 1px solid #BB945F;
}

.exp_1 {
  margin-right: 10px;
  margin-bottom: 10px;
}

.exp_3 { 
  margin-bottom: 20px;
}

.buy-card__submit {
  width: 75px;
  height: 30px;
  flex-shrink: 0;
  margin-top: 10px;
  text-align: center;  
  
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  color: #0C0C0E;

  background-color: #fff;

  cursor: pointer;
}

.buy-card__submit:hover {
  background-color: #BB945F;
  border-radius: 2px; 
  border: 1px solid #BB945F;       
}

.card__price {
  margin-top: -20px;
  margin-left: 100px;
  
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #0C0C0E;
}

.buy_card_text {
  width: 330px;
  height: 160px;
  margin-right: 0;
  
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: 2px;
  color: #8E8E8E;  
}

.title__auth {
  margin-left: 175px;  
}

.placeholder__auth {  
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
  color: #BB945F;

  border: 0;
}
input::-webkit-input-placeholder { color: #BB945F; }
input::-moz-placeholder { color: #BB945F; }

.visits__info_auth {
  display: grid;
  grid-template-columns: 53px 84px 60px;
  grid-template-rows: 20px 21px 20px;
  grid-template-areas: 
    "visites bonuses books"
    "item1 item2 item3"
    "num1 num2 num3";
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  justify-items: center;
  align-items: center;
  width: 169px;
  margin-top: -5px;
  margin-left: 160px;
  
  background-color: #fff;
}

.grid_item_auth {   
  text-align: center;

  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 200% */
  letter-spacing: 0.2px;
  text-transform: capitalize;  
  color: #000;  
}

.grid_num {
  text-align: center;  
  
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 200% */
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #000;
}

/*Section Library Card styles end*/


/*Footer styles start*/
.footer__wrapper {
  background:#0C0C0E;
  padding: 20px 20px 44px;
}

.frame__6 {
  width: 1400px;
  margin-bottom: 30px;
}

.frame__5 {
  display: flex;
  margin-bottom: 10px;
}

.frame__4 {
  width: 1398px; 
  height: 40px;
  display: flex;
  align-items: center;
}

.address:hover {
  color: #BB945F;
}

.address {
  text-decoration: none;
  transition: .5s;
  color: #FFF;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  display: flex;
  width: 229px;
  height: 40px;
  flex-shrink: 0;
  margin-right: 1022px;  
}

.schedule__workdays {
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}

.schedule__daysoff {
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}

.social__media {
  margin-right: 1147px;
}

.social__navigation {
  list-style: none;  
  display: flex;
  width: 102px;
  height: 24px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-left: 0;
}

.line__3 {
  width: 1400px;
  height: 1px;
  background: #FFF;
  margin-bottom: 46px;
}

.footer__rss {
  width: 1400px; 
  height: 22px; 
  display: flex;
  align-items: center;
}

.year {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
  margin-right: 494px;
}

.rss-link:hover { 
  color: #BB945F;  
}

.rss-link {
  text-decoration: none;
  transition: .5s;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
  margin-right: 437px;
}

.user-link:hover { 
  color: #BB945F;  
}

.user-link {
  padding: 0;
  text-decoration: none;
  transition: .5s;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;  
}

/*Footer styles end*/



/*Media start*/

@media screen and (max-width: 1439px) {
  .header__wrapper {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }

  .header__navigation {
    margin: 0;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 40px;
  }

  /* Section About start*/

  .about {    
    justify-content: center;
  }

  .about__wrapper {
    width: 99.8%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .about__text {
    width: 100%;
    text-align: center;
  }

  .about__carret-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    margin-left: 35px;
  }






  .about__carret-left {
    display: none;
  }
  
  .about__carret-right {
    display: none;
  }






  .img-2 {
    display: none;
  }

  .img-3 {
    display: none;
  }
  
  .gallery {
    margin-bottom: 25px;
  }

  .carousel {  
    display: flex;  
    justify-content: center;
  }

  .area__circle__buttons_additional {
    cursor: pointer;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;   
  }

  .inactive__button_additional {
    cursor: pointer;
    width: 16px;
    height: 16px;
    background: #0C0C0E;
    border-radius: 50%;
    padding: 0; 
  }
  /* Section About end*/



  /* Section Favorites start*/

  .favorites__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;  
  }

  .favorites__wrapper_media { 
    width: 99.8%;
    height: 2380px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .favorites__subtitle {
    width: 768px;
    padding-left: 20px;
  }

  .buttons__container {
    /*width: 100%;*/
    display: flex;
    justify-content: flex-start;
    margin-right: 20px;
  }

  .favorites__items {
    margin-right: 40px;    
  }
  
  .favorites__item-1 {
    margin: 0;
  }

  .favorites__item-2 {
    margin: 0;
  }
  .favorites__item-3 {
    margin: 0;
  }

  .favorites__item-4 {
    margin: 0;
  }
  /* Section Favorites end*/


  /* Section Coffee Shop start*/

  .coffe-shop__wrapper {
    display: flex;
    flex-direction: column;    
  }

  .coffee-shop__wrapper_media { 
    width: 99.8%;       
  }

  .menu__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;    
  }

  .menu__wrapper:first-child {
    align-items: flex-start;
  }  

  .coffe-and-tea-menu {
    width: 438px;
    height: 520px;    
  }

  .deserts {
    align-self: flex-end;
  }
  /* Section Coffee Shop end*/


  /* Section Contacts start*/ 

  .contacts__wrapper {
    display: flex;
    flex-direction: column;   
  }
  
  .contacts-info {
    width: 100%; /*  !!!    */
    height: 380px;
    margin-bottom: 100px;   
  }

  .contacts-map {
    width: 696px;
    height: 414px;    
  } 
  /* Section Contacts end*/

  
  /* Section Library-card start*/

  .library-card__wrapper {
    display: flex;
    flex-direction: column;    
  }

  .layout-2-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .find__card-wrapper {
    width: 600px;        
    margin-right: 0;
  }

  .card__body {
    margin-bottom: 21px;
  } 

  .get__card-wrapper {
    width: 600px;
    height: 223px;
    display: flex;
    align-items: center;
    margin: 0; 
  } 

  .get__contetnt {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
  }

  /* Section Library-card end*/


  /* Footer start*/

  .footer {
    width: 100%;
    height: 250px;
  }
  
  .footer__wrapper {
    background:#0C0C0E;
    width: 100%;
    height: 100%;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
  }
  
  .frame__6 {
    width: 100%;
    height: 90px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    top: 20px;
  }

  .address {
    margin: 0;
  }

  .social__media {
    margin: 0;
  }
  
  .frame__5 {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    padding-left: 18.5px;
    padding-right: 18.5px;
    justify-content: space-between;
    align-items: center;
    
  }

  .social__navigation {
    margin: 0;
  }
  
  .frame__4 {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 19.5px;
    padding-right: 19.5px;
    justify-content: space-between;
    align-items: center;
  }

  .line__3 {
    width: 97.2%;
    display: flex;
    align-self: center;
    margin-right: 0;
    margin-top: 30px;
    margin-bottom: 55px;
  }

  .footer__rss {
    width: 100%;
    height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:20px ;
    padding-right: 20px;
    padding-bottom: 32px;
  }

  .year {
    margin: 0;
  }

  .rss-link {
    margin: 0;
  }

  .user-link {
    margin: 0;
    height: fit-content;
  }
}
/* Footer end*/


@media screen and (max-width: 1438px) {

  .drop_menu_no_auth {
    position: absolute;
    top: 0px;
    left: -31px;
  
    display: block;
    text-align: center;
    align-self: flex-end;
    width: 80px;
    height: 115px;
    margin-top: 60px;
    margin-left: 1340px;  
    padding-top: 5px;
    padding-bottom: 20px;
     
    background-color: #fff;
    z-index: 1;
    /*visibility: hidden;*/
  }

  .drop_menu_with_auth {
    position: absolute;
    top: 0px;
    left: -31px;
  
    display: block;
    text-align: center;
    width: 80px;
    height: 115px;
    margin-top: 60px;
    margin-left: 1340px;  
    padding-top: 5px;
    padding-bottom: 20px;
     
    background-color: #fff;
    z-index: 1;
    /*visibility: hidden;*/
  }


  
  .img-3 {
    display: none;
  }

  .img-4 {
    display: none;
  }

  .img-5 {
    display: none;
  }

}

  



@media screen and (max-width: 1024px) {
  
  /* Header start*/

  .header__wrapper {
    padding: 20px;
  }

  .header__ico-wrapper {
    position: relative;
    right: -300px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
  }

  .header__ico {
    position: absolute;   /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    z-index: 11;
  }

  .drop_menu_no_auth {
    position: absolute;
    top: 0px;
    left: -500px;
  
    display: block;
    text-align: center;
    width: 80px;
    height: 115px;
    margin-top: 60px;
    margin-left: 1340px;  
    padding-top: 5px;
    padding-bottom: 20px;
     
    background-color: #fff;
    z-index: 1;
    /*visibility: hidden;*/
  }

  .drop_menu_with_auth {
    position: absolute;
    top: 0px;
    left: -500px;
  
    display: block;
    text-align: center;
    width: 80px;
    height: 115px;
    margin-top: 60px;
    margin-left: 1340px;  
    padding-top: 5px;
    padding-bottom: 20px;
     
    background-color: #fff;
    z-index: 1;
    /*visibility: hidden;*/
  }

  .header__burger {
    position: relative;
    
    display: block;
    width: 45px;
    height: 20px;    
    margin-left: 40px;

    cursor: pointer;
  }
  
  .burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FFF;
    position: absolute;
    left: 0;
  }
  
  .burger__line_first {
    top: 0;
  }
  
  .burger__line_second {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .burger__line_third {
    bottom: 0;
  }
  
  .header__list {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-items: center; 
    max-width: 119px; 
    margin-top: 0;
  }
  
  .header__navigation {
    display: block;
    transition: .3s all linear;
    width: 332px;
    height: 570px;
    background-color: #0C0C0E;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 100px 107px;
    position: fixed; 
    transform: translateX(100%);
    margin: 0;
    
  }

  .header__navigation-active {
    transform: translateX(0);
  }

  .header__item {
    max-width: 119px;       
  }

  .header__link {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 250% */
  }

  .header__nav-close {
    position: absolute;
    top: 31px;
    right: 20px;
    z-index: 11;

    width: 32px;
    height: 32px;    
  }

  .header__nav-close-line {
    position: absolute;
    top: 50%;

    display: block;
    width: 100%;
    height: 2px;

    background-color: #fff;    
  }

  .header__nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }

  .header__nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }
/* Header end*/


/* About start*/

  .about__text {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
  }
  
  .about__carret-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-top: 290px;     
    /*margin-right: 58px;
    margin-left: 35px;*/

    background-color: aqua;
  }
  
  .about__carret-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-top: 290px;
   /* margin-right: 58px;
    margin-left: 58px;*/
  }

  .carousel {
    margin-top: 0px;
  }

  .gallery ul {
    margin-top: 0px;F
  }
  
}


@media screen and (max-width: 768px) {

  .header__ico-wrapper {
    position: relative;
    right: -180px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
  
    border: greenyellow solid 1px;
  }

  .drop_menu_no_auth {
    position: absolute;
    top: 0px;
    left: -750px;
  
    display: block;
    text-align: center;
    width: 80px;
    height: 115px;
    margin-top: 60px;
    margin-left: 1340px;  
    padding-top: 5px;
    padding-bottom: 20px;
     
    background-color: #fff;
    z-index: 1;
    /*visibility: hidden;*/
  }

  .drop_menu_with_auth {
    position: absolute;
    top: 0px;
    left: -1750px;
    right: 500px;
  
    display: block;
    text-align: center;
    width: 80px;
    height: 115px;
    margin-top: 60px;
    margin-left: 1340px;  
    padding-top: 5px;
    padding-bottom: 20px;
     
    background-color: #fff;
    z-index: 1;
    visibility: hidden;
  }
  
  .line__3 {
    width: 95%;
  }
}

@media screen and (max-width: 765px) {
  
  .line__3 {
    width: 95%;
  }

  .favorites__subtitle {
    width: 99.8%;
    padding-left: 0;
  }

  .buttons__container {
    width: 99.8%;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    gap: 0;
    flex-shrink: 1;
  }

  .contacts-info {
    width: 100%;
  }

  .contacts__senior-stuff {
    width: 99.8%;
  }

  .job-title {
    width: 99.8%;
  }

  .map {
    width: 99%;
    height: auto; 
  }  
}

@media screen and (max-width: 640px) {
  
  .line__3 {
    width: 95%;
  }
}

/*Media end*/