/* forum-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/forum-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

html {
    box-sizing: border-box;
    font-size: 14px;
    scroll-behavior: smooth;
  }

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    line-height: 1.2;
    font-family: 'Forum';
    font-style: normal;
    color:#0C0C0E;
    background: lightgray;  /* это для серого фона*/
  }

h1 {
    margin: 0 0 0 20px;
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    position: absolute;
  }

h3 {
    color: #fff;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
    width: 520px;
    flex-shrink: 0;
  }

h2 {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

h4 {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 20px;
  }

h5 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

h6 {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

.wrapper {   /* это для контраста с серым фоном*/
    max-width: 100%;
    margin: 0 auto;
    background: #fff;
  }

/*Header styles start*/

.header {
  width: 100%;  
  height: 90px;
  background: #0C0C0E;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
  background: #0C0C0E;
}

.header__list {
  list-style: none;
  cursor: pointer;
  transition: .3s;
  display: flex;
  flex-wrap: wrap;
  color: #FFF;
  margin-left: 700px;
  width: 584;
  line-height: 50px;
}

.header__item a:hover { 
    color: #BB945F;
    text-decoration: underline;
  }

.header__item a {
    text-decoration: none;
    color: white;
    transition: color 0.5s;
}

.header__item {    
  margin-right: 30px;  /*расстояние между элементами меню в 30px*/
}

.header__item:last-child { /*убираем отступ справа 30px у последнего элемента*/
  margin-right: 0;
}

.header__link {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 250% */
}

.header__ico {
    width: 28px;
    height: 28px;
    display: flex;
    flex-shrink: 0;
    margin-left: 40px;
  }

/*Header styles end*/

/*Section Welcome styles start*/

.welcome {
  width: 1440px;
  height: 600px;  
  background: url(../img/background.png) no-repeat center;
  background-size: cover;
}

.overlay {
  width: 1440px;
  height: 300px;
  flex-shrink: 0;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
  display: flex;
  position: absolute;
}

.welcome__text {
  width: 520px;
  position: absolute;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 220px;
  padding: 35px 40px;
  left: 100; right: 100; top: 100; bottom: 100;
}

/*Section Welcome styles end*/

.section-title {
  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;  
}

.line {
  width: 50px;
  height: 1px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0C0C0E;
  margin-top: 20px;
  margin-left: 695px;
  margin-bottom: 40px;  
}

/*Section About styles start*/

.about__text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
}

.layout-3-column {
  margin-left: 20px;
  margin-right: 20px;
  gap: 25px;
}

.images-items {
  display: flex;  
  justify-content: space-between;
}

.carousel {
  width: 100%;  
  display: flex;  
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;  
}

.area__circle__buttons {
  cursor: pointer;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;   
}

.active__button {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: #BB945F;
  border-radius: 50%;
  padding: 0;
  
}

.inactive__button {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: #0C0C0E;
  border-radius: 50%;
  padding: 0;
  
}

/*Section About styles end*/

/*Section Favorites styles start*/

.favorites__wrapper {
  /*height: 1439px;*/
  padding-left: 20px;
  padding-right: 20px;
}

.favorites__subtitle {
  height: 24px;
  display: flex;  
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;   
}

.buttons__container {
    display: flex;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 700px;
    height: 24px;
    flex-shrink: 0;
    gap: 90px;
}

.season-button:hover {
   font-weight: 700;
}

.season-button {  /* это надо обернуть*/
  cursor: pointer;
  accent-color: black;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.favorites-items {
  width: 1400px;
  height: 1190px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;
}
  
.favorites__item-1 {
  border: 1px solid #000;
  background: #FFF;
  width: 550px;
  height: 555px;
  flex-shrink: 0;  
  padding-left: 15px;  
  padding-bottom: 20px;
  margin-right: 260px;
  margin-bottom: 40px;
  position: relative;
}

.favorites__stuff-picks {
  height: 40px;
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  align-items: center;  
  margin-bottom: 0;
}

.favorites__line-1 {
  width: 60px;
  height: 1px;
  background: #BB945F;  
}

.favorites__text-title {
  max-width: 355px;
  height: 80px;
  margin-top: 20px;
  height: 80px;   
}

.name-book {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: uppercase;  
}

.author-book {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-bottom: 20px;  
}

.favorites__content {
  width: 355px;
  max-height: 320px;  
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.favorites__book-1 {
    position: absolute;
    width: 200px;
    height: 300px;
    bottom: -1px;
    right: -40px;
  }

.favorites__item-2 {
    border: 1px solid #000;
    background: #FFF;
    width: 550px;
    height: 555px;
    flex-shrink: 0;
    padding-left: 15px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    position: relative;
  }

.favorites__book-2 {
    position: absolute;
    width: 200px;
    height: 300px;
    bottom: -1px;
    right: -40px;
}

.favorites__item-3 {
    border: 1px solid #000;
    background: #FFF;
    width: 550px;
    height: 555px;    
    flex-shrink: 0;
    padding-left: 15px;
    padding-bottom: 20px;
    margin-right: 260px;
    margin-bottom: 40px;
    position: relative;
    
}

.favorites__book-3 {
    position: absolute;
    width: 200px;
    height: 300px;
    bottom: -1px;
    right: -40px;
  }

.favorites__item-4 {
    border: 1px solid #000;
    background: #FFF;
    width: 550px;
    height: 555px;
    flex-shrink: 0;
    padding-left: 15px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    position: relative;
    
}

.favorites__book-4 {
    position: absolute;
    width: 200px;
    height: 300px;
    bottom: -1px;
    right: -40px;
}

.buy-button:hover {
  background-color: #BB945F;
  border-radius: 2px; 
  border: 1px solid #BB945F; 
  cursor: pointer;    
}

.buy-button-2:hover {
  background-color: #BB945F;
  border-radius: 2px; 
  border: 1px solid #BB945F; 
  cursor: pointer;    
}

.buy-button {
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Inter';
    color: #0C0C0E;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    background-color: #FFF;
    margin-bottom: 15px;
}

.buy-button-2 {
  cursor: pointer;
  transition: 0.5s;
  font-family: 'Inter';
  color: #0C0C0E;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  width: 75px;
  height: 30px;
  flex-shrink: 0;
  background-color: #FFF;
  margin-top: 40px;
  margin-bottom: 15px;
}

.own-button {
    font-family: 'Inter';
    color: #BB945F;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid #BB945F;
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    background-color: #FFF;
    margin-top: 80px;
    margin-bottom: 15px;
}

/*Section Favorites styles end*/

/*Section Coffee Shop styles start*/

.coffe-shop__wrapper {
  padding: 0 20px 40px;
}

.menu__wrapper-text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: lowercase;
  margin-bottom: 40px;
}

.menu__text {

}

.menu__wrapper {  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.coffe-and-tea-menu {
  width: 438px;
  height: 520px;  
  margin-right: 480px;
}

.menu__item {
  display: flex;
  justify-content: space-between;  
}

.name__item {
  width: 215px;
  max-height: 40px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 40px;  
}

.menu__item:last-child {
  margin-bottom: 0;
}

.menu__item-deserts {
  display: flex;
  justify-content: flex-end;
  gap: 60px;
}

.name__item-2 {
  width: 215px;
  max-height: 40px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-end;

}

.menu__line-2 {
  width: 100px;
  height: 1px;
  background: #BB945F;
  align-items: center;
  margin-top: 20px;
}

.price__item {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.deserts {
  width: 482px;
  height: 520px;
}

.deserts__title {
  margin-left: 161px;
}

/*Section Coffee Shop styles end*/

/*Section Contacts styles start*/

.contacts__wrapper {
  border: none;
  padding: 0 20px 40px;
}
.layout-2-column {  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contacts-info {
  width: 507px;
  height: 380px;
  padding: 0; 
}

.column__title {
  width: 282px;
  height: 40px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 40px;
  display: flex;
}

.phone-info {
  width: 507px;
  height: 160px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
}

.contacts__text-1 {
  /*width: 306px;*/
  height: 40px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  margin-bottom: 20px;
}

.contacts__text-2 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  display: flex;
  margin-bottom: 20px;
}

.contacts__text-3 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  display: flex;
  margin-bottom: 20px;
}

.contacts__senior-stuff {
  margin-top: 40px;
}

.senior__title {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.director {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.job-title {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  display: flex;
}


/*Section Contacts styles end*/

/*Section Library Card styles start*/

.library-card__wrapper {
  border: 1px solid rgb(11, 37, 230);
  padding: 0 20px 40px;
}

.layout-2-column {
  border: 1px solid rgb(139, 151, 241);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.find__card-wrapper {
  border: 1px solid rgb(230, 11, 106);
  width: 600px;
  /*height: 543px;*/
  margin-right: 344px;
  margin-bottom: 0;
}

.find__title {
  height: 36px;
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-left: 138px;
  margin-bottom: 30px;
}

.card__body {
  border: 3px solid #BB945F;
  background: #FFF;
  display: flex;
  width: 600px;
  height: 387px;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 20px 94px;
}

.card__bg {
  width: 560px;
  height: 272px;
  flex-shrink: 0;
  background: #BB945F;
  padding: 20px 20px 25px;
 
}

.card__title {
  border: 1px solid rgb(31, 230, 28);
  /*width: 294px;*/
  height: 50px;
  color: #000;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
  margin-top: 0;
  margin-bottom: 20px;
}

.username {
  border-radius: 10px;
  background: #FFF;
  width: 520px;
  height: 66px;
  flex-shrink: 0;
  padding-top: 8px;
  padding-right: 318px;
  padding-bottom: 8px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.usernumber {
  border-radius: 10px;
  background: #FFF;
  width: 520px;
  height: 66px;
  flex-shrink: 0;
  padding-top: 8px;
  padding-right: 333px;
  padding-bottom: 8px;
  padding-left: 20px;
  margin-bottom: 45px;  /*Это толкает кнопку вниз*/
}

.placeholder {
  color: #8E8E8E;
  border: 0;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;

}

.check-card__button {
  border-radius: 2px;
  border: 1px solid #0C0C0E;

  margin-left: 179px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.get__card-wrapper {
  border: 1px solid rgb(11, 37, 230);
  width: 456px;
  height: 253px; 
}

/*Section Library Card styles end*/




.social__navigation {
    list-style: none;
    display: flex;
    width: 102px;
    height: 24px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-left: 0;
}



.footer {
    background: lightblue;
}




