/* forum-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/forum-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  
  .background-welcome {
    width: 100%;
  }

  body {
    width: 1440px;
    margin: 0 auto;
    font-family: 'Forum';
    font-style: normal;
    
  }

  .header {  
    width: 1440px; 
    height: 90px; 
    align-items: flex-start;
    background: #0C0C0E; 
    display: flex; 
    
    position: absolute;
    color: #FFF;
  }

  .wrapper {
    display: flex;
    align-items: space-between;
    max-width:  1440px;
    height: 90px;
    margin: 0 auto;
    background-color: #FFF;
  }

  .header__wrapper {
    display: flex;
    align-items: space-between;
    flex-grow: 1;
    background-color: #0C0C0E;
  }

  .title {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    
    margin-right: 1126px;
  }

  .welcome-text {
    margin: 0 0 0 20px;
    font-weight: 400;
  }

  
  .navigation {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
    color: #FFFFFF;
  }

  .header__button {
    align-items: flex-end;
  }

  .carousel__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }