.header__navigation {
  display: flex;
  



  .area__circle__buttons {
    width: 26px;
    height: 26px;
    display: flex; 
    
  }
  
  .about__button {
    cursor: pointer;
    transition: 0.5s;
    border-color: #fff;
    background: #fff;
    border-radius: 50%;
  }
  