* forum-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/forum-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

html {
    font-size: 14px;
    scroll-behavior: smooth;
  }

body {
    width: 1440px;
    margin: 0 auto;
    font-family: 'Forum';
    font-style: normal;
  }

h1 {
    margin: 0 0 0 20px;
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    position: absolute;
  }

h3 {
    color: #fff;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
    width: 520px;
    flex-shrink: 0;
  }

h2 {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

h4 {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

h5 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

h6 {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

.wrapper {
    max-width: 1440px;
    margin: auto;
  }

.header {
    height: 90px;
    padding: 20px 20px 20px 20px;
    background: #0C0C0E;
  }

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.navigation {   
    display: flex;
    color: #FFF;
    margin-left: 700px;
    width: 584;
    line-height: 50px;
    justify-content: space-between;    
  }

.navigation__link a:hover {
    color: #BB945F;
    text-decoration: underline;
  }

.navigation__link a {
    text-decoration: none;
    color: white;
    transition: color 0.5s;
}

.navigation__link {
    list-style: none;
    cursor: pointer;
    transition: .3s;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 250% */
    display: inline;
    text-align: center;
    margin-right: 26px;
  }

.header__ico {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    margin-left: 40px;
  }

.welcome {
  width: 1440px;
  height: 600;
  display: flex;
  flex-shrink: 0;  
}

.welcome__bg {
  display: flex;
  width: 1440px;
  height: 600;
}

.overlay {
  width: 1440px;
  height: 300px;
  flex-shrink: 0;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
  display: flex;
  position: absolute;
}

.welcome__text {
  width: 520px;
  position: absolute;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 220px;
  padding: 35px 40px;
  left: 100; right: 100; top: 100; bottom: 100;
}

.section-title {
  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
}

.line {
  width: 50px;
  height: 1px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  background: #0C0C0E;
  margin-top: 20px;
  margin-left: 695px;
  margin-bottom: 40px;
}

.about__text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
}

.layout-3-column {
  margin-left: 20px;
  margin-right: 20px;
  gap: 25px;
}

.images-items {
  display: flex;  
  justify-content: space-between;
}

.carousel__pagination {
  margin-top: 40px;
  margin-bottom: 60px;
  display: flex;  
  justify-content: center;
  gap: 10px;
}

.area__circle__buttons {
  width: 26px;
  height: 26px;
  display: flex; 
  
}

.about__button {
  cursor: pointer;
  transition: 0.5s;
  border-color: #fff;
  background: #fff;
  border-radius: 50%;
}













.season-button {  /* это надо обернуть*/
    accent-color: black;
  }

.buy-button:hover {
   background-color: #BB945F;
}

.buy-button {
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Inter';
    color: #0C0C0E;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    background-color: #FFF;
  }

.own-button {
    font-family: 'Inter';
    color: #BB945F;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid #BB945F;
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    background-color: #FFF;
  }

.social__navigation {
    list-style: none;
    display: flex;
    width: 102px;
    height: 24px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-left: 0;
  }




